 <!--Section IMAGES & How it works-->

 <section class="image-works-section-general">
     
    <div class="image-works-section">
           <div class="container"> 
            <div class="image-ho-work-container">
                 <picture>
                     <source media="(min-width: 1280px)" srcset="./img/images-work/imgRectangleDasctop1x.jpg, ./img/images-work/imgRectangleDasctop2x.jpg" type="image/jpg">
                     <source media="(min-width: 768px)" srcset="./img/images-work/imgRectangleTablet1x.jpg, ./img/images-work/imgRectangleTablet2x.jpg" type="image/jpg">
                     <source media="(max-width: 767px)" srcset="./img/images-work/imgRectangleMob1x.jpg, ./img/images-work/imgRectangleMob2x.jpg" type="image/jpg">
                     <img src="./img/images-work/imgRectangleDasctop1x.jpg" alt="imageHowitworks" width="640" height="640" class="how-it-works-images">
                   </picture>   
            </div> 
           </div>

    </div>
   
      <!--How it works-->
    
      <div class="how-works-section">
      
         <div class="container">
           <div class="container-how-work">
               <div class="container-text">
                  <h2 class="how-works-title">To order your 
                     <span class="title-transf-color-works">vegetable</span>
                      basket, simply follow these 
                     <span class="title-transf-color-works">easy steps</span>
                 </h2>
         
                  <p class="how-works-paragraf">Our baskets are assembled with care and delivered straight to your doorstep, so you 
                     can enjoy the taste of fresh fruit without ever leaving your home.</p>      
              </div>
                 <ol class="how-works-list">                 
                     <li class="how-works-item">
                      <button type="button" class="button-icon-works">
                      1
                      </button>                           
                          <p class="how-works-item-text">Just choose 
                             <span class="transf-color-work-text">the vegetable</span>
                               you want to order by clicking on the checkboxes <span class="transf-color-work-text">next to it.</span></p>                                                       
                     </li>
                     <li class="how-works-item">
                      <button type="button" class="button-icon-works">
                      2
                      </button>                           
                          <p class="how-works-item-text">Click on <span class="transf-color-work-text">the basket</span> and fill out the form.</p>                                                       
                     </li>
                     <li class="how-works-item">
                      <button type="button" class="button-icon-works">
                      3
                      </button>                           
                          <p class="how-works-item-text">Sit back and relax! Your <span class="transf-color-work-text">fresh vegetables</span> basket will be delivered.</p>                                                       
                     </li>             
             </ol>
       </div>

        </div>
        </div>
</section>