<section class="section section-reviews-bc">
    <div class="container section-reviews">
        <h2 class="reviews-title">reviews from our <span class="reviews-span">customers</span></h2>
        <p class="reviews-text">Words of our customers: impressions and 
            opinions about the quality of our services and 
            the freshness of our products.</p>

        <ul class="reviews-list">
            <li class="reviews-item">

                <img 
                srcset="
          ./img/images-reviews/JonathanKelly-2x.jpg 2x, 
          ./img/images-reviews/JonathanKelly-1x.jpg 1x"
          src="./img/images-reviews/JonathanKelly.jpg" alt="John Wax" class="reviews-img" width="56" height="56">
                <h3 class="reviews-list-name">John Wax</h3>
                <p class="reviews-list-text">These vegetables are my secret to delicious and 
                    healthy meals. The quality is always at the highest 
                    level, the aroma and taste are enchanting. 
                    I advise every fan of real products!</p>

            </li>

            <li class="reviews-item">

                <img 
                srcset="
          ./img/images-reviews/AmandaLowery-2x.jpg 2x, 
          ./img/images-reviews/AmandaLowery-1x.jpg 1x"
          src="./img/images-reviews/AmandaLowery.jpg" alt="Victoria Romashenko" class="reviews-img" width="56" height="56">
                <h3 class="reviews-list-name">Victoria Romashenko</h3>
                <p class="reviews-list-text">I love how fast and fresh the vegetables are delivered.
                     Salads always turn out so appetizing, and soups are 
                     real masterpieces. The quality is impeccable!</p>

            </li>

            <li class="reviews-item">

                <img 
                srcset="
          ./img/images-reviews/NicolasTrevino-2x.jpg 2x, 
          ./img/images-reviews/NicolasTrevino-1x.jpg 1x"
          src="./img/images-reviews/NicolasTrevino.jpg" alt="Ihor Trachuk" class="reviews-img" width="56" height="56">
                <h3 class="reviews-list-name">Ihor Trachuk</h3>
                <p class="reviews-list-text">Recently tried my fresh tomatoes and peppers - amazing! 
                    The authenticity of the taste, as if from the garden directly
                     to my table. It is now my main vegetable supplier.</p>

            </li>
        </ul>

    </div>
</section>