   
   <section class="vegetables-section">
     
    <div class="container">
     <h2 class="vegetables-title">organic 
        <span class="title-transform-color">vegetables</span>
    </h2>

     <p class="vegetables-paragraf">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, 
        ensuring that you get the freshest and most nutritious produce possible.</p>

           <ul class="vegetables-list">                 
                   <li class="vegetables-item">
                    <div class="vegetables-cont-text">
                        <h3 class="vegetables-sabtitle">eggplant</h3>
                        <p class="vegetables-item-text">60 UAH / kg</p>                
                   </div>
                      <div class="vegetables-list-img-wrapper">
                         <picture>

                       

                           <source media="(min-width: 1280px)" srcset="./img/carrotEggplantDecktop1x.jpg, ./images-vegetables/carrotEggplantDecktop2x.jpg" type="image/jpg">
                           <source media="(min-width: 768px)" srcset="./images-vegetables/carrotEggplantTablet1x.jpg, ./images-vegetables/carrotEggplantTablet2x.jpg" type="image/jpg">
                           <source media="(max-width: 767px)" srcset="./images-vegetables/carrotEggplantMobil1x.jpg, ./images-vegetables/carrotEggplantMobil2x.jpg" type="image/jpg">
                           <img src="./images-vegetables/carrotEggplantDecktop.jpg" alt="eggplant" width="282" height="243" class="vegetables-imeges">

                         </picture>
                      </div>                        
                   </li>
                   <li class="vegetables-item">
                    <div class="vegetables-cont-text">
                        <h3 class="vegetables-sabtitle">leek</h3>
                        <p class="vegetables-item-text">50 UAH / kg</p>                
                   </div>
                      <div class="vegetables-list-img-wrapper">
                         <picture>


                           <source media="(min-width: 1280px)" srcset="./img/images-vegetables/carrotLeekDecktop1x.jpg, ./img/images-vegetables/carrotLeekDecktop2x.jpg" type="image/jpg">
                           <source media="(min-width: 768px)" srcset="./img/images-vegetables/carrotLeekTablet1x.jpg, ./img/images-vegetables/carrotLeekTablet2x.jpg" type="image/jpg">
                           <source media="(max-width: 767px)" srcset="./img/images-vegetables/carrotLeekMobil1x.jpg, ./img/images-vegetables/carrotLeekMobil2x.jpg" type="image/jpg">
                           <img src="./img/images-vegetables/carrotLeekDecktop.jpg" alt="leek" width="282" height="243" class="vegetables-imeges">

                         </picture>
                      </div>                        
                   </li>
                   <li class="vegetables-item">
                    <div class="vegetables-cont-text">
                        <h3 class="vegetables-sabtitle">mushrooms</h3>
                        <p class="vegetables-item-text">40 UAH / kg</p>                
                   </div>
                      <div class="vegetables-list-img-wrapper">
                         <picture>


                           <source media="(min-width: 1280px)" srcset="./img/images-vegetables/carrotMushroomsDecktop1x.jpg, ./img/images-vegetables/carrotMushroomsDecktop2x.jpg" type="image/jpg">
                           <source media="(min-width: 768px)" srcset="./img/images-vegetables/carrotMuschroomsTablet1x.jpg, ./img/images-vegetables/carrotMuschroomsTablet2x.jpg" type="image/jpg">
                           <source media="(max-width: 767px)" srcset="./img/images-vegetables/carrotMuschroomsMobil1x.jpg, ./img/images-vegetables/carrotMuschroomsMobil2x.jpg" type="image/jpg">
                           <img src="./img/images-vegetables/carrotMushroomsDecktop.jpg" alt="mushrooms" width="282" height="243" class="vegetables-imeges">

                         </picture>
                      </div>                        
                   </li>
                   <li class="vegetables-item">
                    <div class="vegetables-cont-text">
                        <h3 class="vegetables-sabtitle">corn</h3>
                        <p class="vegetables-item-text">60 UAH / kg</p>                
                   </div>
                      <div class="vegetables-list-img-wrapper">
                         <picture>


                           <source media="(min-width: 1280px)" srcset="./img/images-vegetables/carrotCornDecktop1x.jpg, ./img/images-vegetables/carrotCornDecktop2x.jpg" type="image/jpg">
                           <source media="(min-width: 768px)" srcset="./img/images-vegetables/carrotCornTablet1x.jpg, ./img/images-vegetables/carrotCornTablet2x.jpg" type="image/jpg">
                           <source media="(max-width: 767px)" srcset="./img/images-vegetables/carrotCornMobil1x.jpg, ./img/images-vegetables/carrotCornMobil2x.jpg" type="image/jpg">
                           <img src="./img/images-vegetables/carrotCornDecktop.jpg" alt="corn" width="282" height="243" class="vegetables-imeges">

                         </picture>
                      </div>                        
                   </li>
                   <li class="vegetables-item">
                    <div class="vegetables-cont-text">
                        <h3 class="vegetables-sabtitle">sweet potatoes</h3>
                        <p class="vegetables-item-text">50 UAH / kg</p>                
                   </div>
                      <div class="vegetables-list-img-wrapper">
                         <picture>


                           <source media="(min-width: 1280px)" srcset="./img/images-vegetables/carrotPotatoDecktop1x.jpg, ./img/images-vegetables/carrotPotatoDecktop2x.jpg" type="image/jpg">
                           <source media="(min-width: 768px)" srcset="./img/images-vegetables/carrotPotatoTablet1x.jpg, ./img/images-vegetables/carrotPotatoTablet2x.jpg" type="image/jpg">
                           <source media="(max-width: 767px)" srcset="./img/images-vegetables/carrotPotatoMobil1x.jpg, ./img/images-vegetables/carrotPotatoMobil2x.jpg" type="image/jpg">
                           <img src="./img/images-vegetables/carrotPotatoDecktop.jpg" alt="potato" width="282" height="243" class="vegetables-imeges">

                         </picture>
                      </div>                        
                   </li>
                   <li class="vegetables-item">
                    <div class="vegetables-cont-text">
                        <h3 class="vegetables-sabtitle">carrot</h3>
                        <p class="vegetables-item-text">40 UAH / kg</p>                
                   </div>
                      <div class="vegetables-list-img-wrapper">
                         <picture>

                         

                           <source media="(min-width: 1280px)" srcset="./img/images-vegetables/carrotCarrotDecktop1x.jpg, ./img/images-vegetables/carrotCarrotDecktop2x.jpg" type="image/jpg">
                           <source media="(min-width: 768px)" srcset="./img/images-vegetables/carrotCarrotTablet1x.jpg, ./img/images-vegetables/carrotCarrotTablet2x.jpg" type="image/jpg">
                           <source media="(max-width: 767px)" srcset="./img/images-vegetables/carrotCarrotMobil1x.jpg, ./img/images-vegetables/carrotCarrotMobil2x.jpg" type="image/jpg">
                           <img src="./img/images-vegetables/carrotCarrotDecktop.jpg" alt="carrot" width="282" height="243" class="vegetables-imeges">

                         </picture>
                      </div>                        
                   </li>                  
           </ul>
   </div>
   </section>