<section>
    <div class="container your-order">
        <div class="mobile-your-order">
            <h2 class="your-order-main-header">Fresh <span class="harvest">Harvest</span>
                Box has got you covered</h2>

            <p class="your-order-prgf">Our boxes are packed with delicious, nutritious vegetables, perfect for
                anyone
                looking to eat healthier
                or support local
                farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        </div>
        <div class="section-order-form">
            <div class="mobile-your-order-form">
                <h3 class="order-form-header">Ordering <span class="from-us">from us</span> is quick and
                    easy!
                    Fill out <span class="the-form">the form</span> below and we will
                    contact
                    you !</h3>
                <form action="">
                    <div class="order-form-input">
                        <input class="your-order-input" type="text" name="user-name" pattern="[a-zA-Zа-яА-ЯіІїЇєЄ ']+"
                            placeholder="Full Name" required>

                        <input class="your-order-input" type="email" name="user-email"
                            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required>
                        <div class="your-order-form-comment">
                            <textarea class="comment-form-text" placeholder="Comment" required></textarea>
                        </div>

                        <button class="your-order-submit-button" type="submit">Send</button>
                    </div>
                </form>
            </div>
            <div class="your-order-socials">
                <picture>
                    <source
                        srcset="./img/images-order/your-order-desktop.jpg 1x, ./img/images-order/your-order-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./img/images-order/your-order-tablet.jpg 1x, ./img/images-order/your-order-tablet@2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./img/images-order/your-order.jpg 1x, ./img/images-order/your-order@2x.jpg 2x" />
                    <img class="your-order-picture" src="./img/images-order/your-order.jpg" alt="Fresh Mix" />
                </picture>
                <div class="your-order-socials-dscr">
                    <p class="your-order-socials-prgf">Follow us on our social networks:</p>
                    <ul class="social-networks">
                        <li>
                            <a href="https://www.instagram.com/goitclub/" target="_blank" class="social-networks-item"
                                rel="noopener">instagram</a>
                        </li>
                        <li>
                            <p class="social-slash">/</p>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/goITclub/" target="_blank" class="social-networks-item"
                                rel="noopener">facebok</a>
                        </li>
                        <li>
                            <p class="social-slash">/</p>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/GoIT" target="_blank" class="social-networks-item"
                                rel="noopener">youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>