.advertisement-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.advertisement-section-text {
  font-family: "Inter Tight", sans-serif;
  color: #141414;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: uppercase;
  position: relative;

}

.advertisement-section-text-discount {
  color: #fbfbfb;
  background-color: #576f35;
  border-radius: 12px;
}

@media screen and (max-width: 767px) {
  .advertisement-container {
    max-width: 375px;
    padding: 80px 10px;
  }

  .advertisement-section-text {
    max-width: 355px;
    font-size: 48px;
    line-height: 50px;
    padding: 3px 10px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  } 

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advertisement-container {
    max-width: 768px;
    padding: 100px 16px;
  }

  .advertisement-section-text {
    max-width: 736px;
    font-size: 64px;
    line-height: 70px;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement-container {
    max-width: 1280px;
    padding: 100px;
  }

  .advertisement-section-text {
    max-width: 1054px;
    font-size: 76px;
    line-height: 80px;
    margin: 0px;
  }
}