.advertisement-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.advertisement-text {
  font-family: "Inter Tight", sans-serif;
  color: #141414;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.advertisement-background {
  position: absolute;
  background-color: #576F35;
  border-radius: 12px;
}

.advertisement-discount {
  color: #fbfbfb;
  border-radius: 12px;
}

@media screen and (max-width: 767px) {
  .advertisement-container {
    max-width: 375px;
    padding: 80px 10px;
  }

  .advertisement-text {
    max-width: 355px;
    font-size: 48px;
    line-height: 50px;
    padding: 3px 10px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .advertisement-background {
    width: 355px;
    height: 102px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advertisement-container {
    max-width: 768px;
    padding: 100px 16px;
  }

  .advertisement-text {
    max-width: 736px;
    font-size: 64px;
    line-height: 70px;
    padding: 8px 16px;
  }

  .advertisement-background {
    width: 736px;
    height: 86px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement-container {
    max-width: 1280px;
    padding: 100px;
  }

  .advertisement-text {
    max-width: 1080px;
    font-size: 76px;
    line-height: 80px;
    padding: 0 13px;
  }

  .advertisement-background {
    width: 808px;
    height: 86px;
  }
}
