body {    
    font-family: "Inter Tight", sans-serif;
      
  }
  
  
  
  .container {
    
    padding: 0 15;
    margin: 0 auto;
    
  }
  
  svg {
    display: block;
    height: auto
}

  

    .container {
      max-width: 375px;
      
    }
  

  /* ================================================= TABLET 👇 ========================================= */
  @media screen and (min-width: 768px) {
    .container {
     max-width: 768px;
     
    }
  }
  
  /* ================================================= NOT DESKTOP 👇 ========================================= */

    
    
  /* ================================================= DESKTOP 👇 ========================================= */
  @media screen and (min-width: 1280px) {
    .container {
   max-width: 1280px;
   
    }
  }
    