/*---Section image & How it works---*/
image {
   display: block;
   max-width: 100%;
   height: auto;
}
.container {
   min-width: 320px; 
   padding: 0px;
   margin: 0 auto;
   max-width: 1280px;
   align-items: center;
}

.image-works-section {
   padding: 40px 10px;
   background-color: #7a3145;
   min-width: 320px;
   align-items: center;
}


.image-ho-work-container {
   align-items: center;
   text-align: center;
   border-radius: 30px;
}

.how-it-works-images {
   border-radius: 30px;
   display: block;
   width: 300px;
   height: auto;
}

@media screen and (min-width: 375px) {
   .container {
      width: 375px;
   }
   .how-it-works-images {
      min-width: 355px
   }
}

@media screen and (min-width: 768px) {
   .container {
      width: 768px;
   }
   
   .image-works-section {  
   text-align: center;
   padding: 100px 64px;
   }

   .how-it-works-images {
      width: 640px;
   }

}
      @media screen and (min-width: 1280px) {
         .container {
            width: 1280px; 
         } 

      .image-works-section {  
      text-align: center;
      padding: 100px 0;
      width: 650px;
      } 
      .how-it-works-images {
         max-width: 640px;
      }
      .image-works-section-general {
        display: flex;
        column-gap: 50px;
      }
   }

/*---How it works--*/

   .container {
      min-width: 320px; 
      padding: 0px;
      margin: 0 auto;
      max-width: 1280px;
      align-items: center;
   }
   
   .how-works-section {
      background-color: #576f35;
      padding: 80px 0px;
      min-width: 320px; 
      align-items: center;
   }
   
   .how-works-title {
      font-weight: 600;
      font-size: 28px;
      line-height: 1.0;
      letter-spacing: -0.01em;
      color: #fbfbfb;
      text-transform: uppercase;
      text-align: left;
      margin-bottom: 20px; 
      max-width: 335px; 
   }
   
   .title-transf-color-works {
      color: rgba(251, 251, 251, 0.3);
   }
   
   .how-works-paragraf {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      color: #fbfbfb;
      text-align: left;
      margin-bottom: 40px;
   }
   
   .how-works-list {
      display: flex;
      gap: 20px 0px;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      counter-reset: my-counter;
      list-style: none;
      
   }
   
   .container-text {
      width: 280px;
      padding-left: 20px;
   }

   .how-works-item {
      display: flex;
      border-radius: 15px;
      padding: 20px 5px 20px 5px;
      background-color: #fbfbfb;
      list-style: none;
      counter-increment: my-counter;
      margin-bottom: 0.5em;
      width: 280px;
   }
   .how-works-list::before(css counter) {
     content: counter(my-counter);
     margin-right: 0.5em;
     font-weight: bold;
   }
   
   .button-icon-works {
      border-radius: 50%;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.0;
      letter-spacing: -0.02em;
      color: #fbfbfb;
      box-shadow: 0px 0px 0px 5px rgba(122, 49, 69, 0.3);
      width: 50px;
      height: 50px;
      padding: 6px 19px;
      background-color: #7a3145;
      text-align: center;
      align-items: center;
      margin-right: 10px;
      
   }
   
   .how-works-item-text {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: -0.02em;
      color: rgba(20, 20, 20, 0.6);
      text-align: left; 
      text-transform: uppercase;
   }
  
   .transf-color-work-text {
      font-weight: 700;
      color: #141414;
   }
     
   @media screen and (min-width: 375px) {
      .container {
         width: 375px;
      }
      .container-text {
         width: 335px;
      }
      .how-works-item {
         width: 335px;
      }
   }
   
   @media screen and (min-width: 768px) {
      .container {
         width: 768px;
      }
      
      .how-works-section {  
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 100px;
      }

      .container-how-work {
         display:flex;
         flex-direction: column;
         flex-wrap: wrap;
         align-items: center;
         
      }

      .container-text {
         align-items: center;
         width: 450px;
         padding: 0px;
      }
   
      .how-works-title {
         font-weight: 600;
         font-size: 32px;
         line-height: 1.0;
         align-items: center;
         width: 450px;
      }
   
      .how-works-paragraf {
         margin-bottom: 50px;
         width: 450px;
         font-size: 16px;
         line-height: 1.25;
         align-items: center;
      }
   
      .how-works-list {
         
      }
   
      .how-works-item {
         padding: 12px 25px 12px 24px;
         width: 450px
      }
      
      
      }
   
   @media screen and (min-width: 1280px) {
      .container {
         width: 1280px; 
      } 
      
      .how-works-section {
         padding: 100px 100px 160px 100px; 
         width: 700px; 
      }
   
      .how-works-list { 
      
     }
     .container-text {
      width: 450px;
   }
     .how-works-item {
      padding: 12px 25px 12px 24px;
      width: 450px;
     }

     .image-works-section-general {
      display: flex;
      background-color: #7a3145;
      column-gap: 50px;
    }

    }